<div class="footer">
    <span class="label label-warning bottomSqrt">ЦЬОГО ТИЖНЯ НА ВСЕ<hr/>-20% </span>
                <span class="text-center" style="margin-left: 110px; display: inline-block">Pizza.22 - практичний проект в межах курсу Java-Script в Києво-Могилянській Академії
                <br/>
                Доставка піци не здійснюється
                </span>
</div>