<!--<!DOCTYPE html>-->
<!--<html>-->
<!--<head lang="en">-->
    <!--<meta charset="UTF-8">-->
    <!--<title><%= pageTitle %> - Pizza</title>-->

    <!--&lt;!&ndash; Bootsrap CSS &ndash;&gt;-->
    <!--<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">-->

    <!--&lt;!&ndash; LESS основний файл &ndash;&gt;-->
    <!--<link rel="stylesheet/less" type="text/css" href="assets/less/main.less" />-->
    <!--&lt;!&ndash; LESS JavaScript компілятор &ndash;&gt;-->
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/less.js/2.5.3/less.min.js"></script>-->


<!--</head>-->
<!--<body>-->

<div class="navbar navbar-fixed-top top-panel upperPanel">
    <span class="label label-warning" style="margin-left: 5px">PIZZA KMA</span>
    <div style="display: inline-block ; width: 90%">
        <span class="inf phoneNumber">(044) 222 5 222</span>
        <span class="inf time">24 години/ 7 днів на тиждень</span>
        <span class="inf freePizza">Безкоштовна доставка піци</span>
        <button type="button" class="btn btn-warning pull-right">Увійти</button>
        <hr class="inf"/>
        <span class="inf">Піца</span>
    </div>
</div>

